<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Resultado Consulta</title>
</head>
<body>
<div id="wrapper">
    <h1>Exames - Secretária de Saúde de Ibirama</h1>

    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th><span>uf</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cidade : ${cidades}">
            <td th:text="${cidades.uf}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>